#youtubeButton{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 125%;
	color:black;
}
body{
	color:white;
	margin:0 auto;
	border-width: 5px;
	max-width: 80%;
	background-image: url('frizonegaming-profile_banner.png');
	color:black;
}
a:link{
	text-decoration: none;
	width:250px;
}
a:visited{
	text-decoration: none;
	color: white;
	width:250px;
}
.linkButton{
	border:2px solid;
	border-radius:25px;
	width:250px;
	margin:0 auto;
	background-color: white;
}
#title{
font-size: 40pt;
color: #4A1FF2;
}
#table{
	background-color:#fff;
	
}
#icon{
	border-radius:10px;
}